* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    width: 100%;
    height: 100vw;
    background-image:url(content/BACKNEWS.jpg);
    background-size: cover;
    background-position: center;
}

.HEADING{

    left: 8%;
    top: 33%;
    width: 63.8%;
    margin: auto;
    display: fles;
    position: absolute;
    text-align: center;
    padding:21px;
    border-radius: 25px 25px 0 0 ;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.726);
}

.textHistory{
    margin: auto;
    width:40%;
    left: 8%;
    padding: 10px;
    border-radius: 0 0 0 25px;
    position: absolute;
    top: 45%;

    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.726);
}

.textHistory h2{
    padding-top: 10px;
    size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
   
.textHistory p{
    font-family: 'Times New Roman', Times, serif;

}

.Pictures{
    height: 119vh;
    margin: auto;
    margin-left: 2px;
    width:25%;
    right: 26%;
    position: absolute;
    top: 45%;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 0px 0px 25px 0px;

}

.Pictures img{
    position: relative;
    padding: 25px;
 
}
.navbar{
    top: 0;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 0;
    padding-bottom: 20px;
    position: absolute;
    align-items: center;
    background-color: black;
    justify-content: space-between;
}

.navbar ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding: 15px;
    right: 0;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #9b0000;
    position: absolute;
    border: rgba(255, 255, 255, 0.13);
    border-style: solid;
    border-radius: 25px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

ul li a{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;
    text-decoration: none;

}

.navbar ul li:hover::after{
    width: 100%;
    
}

@media print {
    @page {
        margin: 1cm;
        margin-top: 1.5cm;
        margin-bottom: 2cm;
        size: A4;

    }
    .navbar, .Pictures {
        display: none;
      }

      .HEADING{
        position:absolute;
        top: 10px;
        scale: 0.7;
        left: 0;
        width: 100%;
        padding: 0%;
        background-color: transparent;
      }
      .container{
        background-image: none;
      }

      .textHistory{
        background-color: transparent;
        position: absolute;
        top: 140px;
        width: 80%;
        
      }
      .textHistory h1{
        margin-top: 100px;
        page-break-inside: always;
        
      }

}



