h1{
    color: black;
    top: 0;
    left: 0;

}

.textMax{
    margin:auto;
    position:absolute;
    top: 25%;
    left: 0%;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    line-height: 1.3;
    
}

.textPer{
    margin:auto;
    position:absolute;
    top: 10%;
    left: 0%;
    color: rgb(0, 0, 0);
    z-index: 2;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    line-height: 1.3;


}

@media print {
    @page {
        margin: 1cm;
        margin-top: 1.5cm;
        margin-bottom: 2cm;
        size: A4;

    }
    .Picture,.navbar ul li {
        display: none;
      }
    }