/* Nastavy margin a padding defaultne na 0 a nastavy defaultnu fontFamily */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Define the body of the webpage */

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
}

/* Define the slider class to style the image slider */
.slider {
    position: relative;
    width: 30%;
    overflow: hidden;
    scale: 1.5;
}
/* Define the images class to style the images in the slider */
.images {
    display: flex;
    width: 100%;
}
/* Define the images img class to style the individual images */
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.3s ease ;
}
/* Define the images input class to hide the radio inputs */
.images input {
    display: none;
}
/* Define the dots class to style the navigation dots */
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
/* Define the dots label class to style the individual dots */
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid rgb(197, 35, 35) 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}
/* Define the hover effect for the dots */

.dots label:hover{
    background: rgb(255, 255, 255);
}
/* Define the styles for when specific images are selected */


#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
#img5:checked ~ .m5 {
    margin-left: -400%;
}
#img6:checked ~ .m6 {
    margin-left: -500%;
}
#img7:checked ~ .m7 {
    margin-left: -600%;
}

 h1{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    position: absolute;
    top: 8%;
    font-size: 50px;
}
/* nastavy width, margin, padding, a pozicne proporcie pre navigation bar */

.navbar{
    top: 0;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 0;
    position: absolute;
    align-items: center;
    background-color: black;
    padding-bottom: 10px;
    justify-content: space-between;
}
/* Nastavy poziciu, list-style, a margin pre navigation bar list  */

.navbar ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding: 15px;
    right: 0;
}
/* Prida hover effect pre navigation bar list  */

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #9b0000;
    position: absolute;
    border: rgba(255, 255, 255, 0.13);
    border-style: solid;
    border-radius: 25px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
/* nastavy color a font proporcie pre navigation bar links */

ul li a {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;
    text-decoration: none;

}

/* prida hover effect pre navigation bar links */

.navbar ul li:hover::after{
    width: 100%;    
}
/* Nastavenie blocku s textom frontwingbox */
.frontwingbox{
    position: absolute;
    margin: auto;
    width: 300px;
    left: 0;
    top: 55%;
    padding: 20px;
    margin-left: 60px;
    background-color: rgba(46, 46, 46, 0.623);
    border-radius: 25px;
    border: solid red 2px;
}

/* Nastavenie h2 nadpisu */

h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
    text-decoration-thickness: 10%;
    color: white;
}
/* Nastavenie h3 nadpisu */
h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
/* Nastavenie pisma v paragrafe */
p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
/* Nastavenie blocku s textom backwingbox */
.backwingbox{
    position: absolute;
    margin: auto;
    width: 300px;
    left: 0;
    top: 10%;
    padding: 20px;
    margin-left: 60px;
    background-color: rgba(46, 46, 46, 0.623);
    border-radius: 25px;
    border: solid red 2px;
}
/* Nastavenie blocku s textom WingletsAndCovers */
.WingletsAndCovers{
    position: absolute;
    margin: auto;
    width: 300px;
    right: 0;
    top: 10%;
    padding: 20px;
    margin-right: 60px;
    background-color: rgba(46, 46, 46, 0.623);
    border-radius: 25px;
    border: solid red 2px;
}

/* nastavy width, height, background color, a border-radius proporcie pre stat block sekciu */

.statBlock{
    width: 350px;
    height: 200px;
    top: 75%;
    right: 2%;
    background-color:rgb(177, 28, 2);
    border-radius: 15px 50px 30px 5px;
    transition: transform 0.8s;
    position:absolute;
}
/* prida hover effect pre stat block sekciu */

.statBlock:hover {
    transform: scale(3) translate(-250px,-120px); 
    
  }
    /* nastavy font-size, color, font-family, font-style, font-weight, padding, a line-height pre inner block */


.innerBlock{
    font-size: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 15px;
    justify-content: space-between;
    line-height: 16px;
}
/* nastavy display a flex-flow proporcie pre stats sekciu */

.stats {
    display: flex;
    flex-flow: column nowrap;
}
/* nastavy display a flex-flow proporcie pre stats paragrafy, aa prida space between content */

.stats p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/* prida margin-right property pre druhy span v stats sekcii pre paragrafi */

.stats p span:nth-child(2) {
    margin-right: 100px;
}

/* Nastavy h2 v stats blocku */

.stats h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 20px;
    text-decoration-line: underline;
    text-decoration-thickness: 10%;
    color: rgb(0, 0, 0);
    padding-bottom: 3px;
}
/* Nastavenie pre print */

@media print {
    @page {
        margin: 0.5cm;
        size: A4;
      }
    .navbar,.dots,.images.slider  {
        display: none;
      }
      h1{
        top: 10px;
        padding-left: 20px
      }
      .backwingbox{
        top: 150px;
        margin: auto;
        margin-left: 20px;
        background-color: white;
        border: solid rgb(0, 0, 0) 2px;
      }
      .frontwingbox{
        top: 650px;
        margin: auto;
        margin-left: 20px;
        background-color: white;
        border: solid rgb(0, 0, 0) 2px; 
      }
      .WingletsAndCovers{
        top: 150px;
        margin: auto;
        margin-right: 20px;
        background-color: white;
        border: solid rgb(0, 0, 0) 2px;
      }
      .statBlock{
        background-color: white;
        color: black;
        border: solid rgb(0, 0, 0) 2px;
      }
      p{
        color: black;
      }
      h2{
        color: black;
      }
}