/* Nastavy margin a padding defaultne na 0 a nastavy defaultnu fontFamily */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* Nastavy background image,Velkost , a poziciu pre banner */

.banner {
    max-width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(content/Background.jpg);
    background-size: cover;
    background-position: center;
}
/* nastavy width, height, cursor, a pozicne proporcie pre logo */
.LOGO img{
    width: 350px;
    height: 200px;
    cursor: pointer;
    position: absolute;
    display: flex;
    top: 3%;
    left: 3%;
    margin:auto;
    object-fit: fill;
    padding: 4px;   
}
/* Prida ramec k logu ke pointneme na logo */
.LOGO img:hover{
    border: solid white 4px;
    border-radius: 25px;
}
/* nastavy width, margin, padding, a pozicne proporcie pre navigation bar */
.navbar{
    width: max-content;
    margin: auto;
    padding: 35px;
    display: flex;
    position: absolute;
    align-items: center;
    top: 20px;
    right: 65px;
}
/* Nastavy poziciu, list-style, a margin pre navigation bar list  */
.navbar ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding: 15px;  
}
/* Prida hover effect pre navigation bar list  */
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #9b0000;
    position: absolute;
    border: rgba(255, 255, 255, 0.13);
    border-style: solid;
    border-radius: 25px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
/* nastavy color a font proporcie pre navigation bar links */
ul li a{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;
    text-decoration: none;
}
/* prida hover effect pre navigation bar links */
.navbar ul li:hover::after{
    width: 100%;
}
/* nastavy width, font, color, a position pre content sekciu */
.content{
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 200;
    color: rgb(187, 187, 187);
    position: relative;
    top: 16%;
    left: 3%;
}
/* nastavy width, height, background color, a border-radius proporcie pre stat block sekciu */

.statBlock{
    width: 30%;
    height: 20%;
    bottom: 30%;
    left: 45px;
    background-color:rgba(177, 28, 2, 0.603);
    border-radius: 15px 50px 30px 5px;
    transition: transform .5s;
    position:absolute;
}
/* prida hover effect pre stat block sekciu */

.statBlock:hover {
    transform: scale(1.2); 
  }
  /* nastavy font-size, color, font-family, font-style, font-weight, padding, a line-height pre inner block */
.innerBlock{
    font-size: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    padding-left: 70px;
    padding-top: 15px;
    justify-content: space-between;
    line-height: 32px;
}
/* nastavy display a flex-flow proporcie pre stats sekciu */

.stats {
    display: flex;
    flex-flow: column nowrap;
}
/* nastavy display a flex-flow proporcie pre stats paragrafy, aa prida space between content */

.stats p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/* prida margin-right property pre druhy span v stats sekcii pre paragrafi */

.stats p span:nth-child(2) {
    margin-right: 100px;
}
/* prida properties pre h1 tag, font-family, font-weight, font-size, text-align, a animation */

h1{
    margin:auto;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: 50%;
    width: 30%;
    padding: 30px;
    background-color: rgba(177, 28, 2, 0.603);
    border-radius: 25px;
    animation: animate 1s linear ;
}


/* prida keyframe animation pre h1 tag */
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateX(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateX(0deg);
        filter: blur(0);
    }
}
/* Nastavenie pre print */

@media print {
    @page {
        margin: 0.5cm;
        size: A4;
      }
    .navbar, .LOGO, .content  {
        display: none;
      }
      h1 {
        font-size: 80px;
        background-color: transparent;
        border-radius: 0;
        position: absolute;
        top:10px;
      }
      p{
        background-color: transparent;
        border-radius: 0;
        top:180px;
      }   
      .statBlock {
        width: max-content;
        position: absolute;
        top: 500px;
        left: 0%;
      }
}
   